* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {   
    display: grid;
    border: 1px solid red;
  
    /* margin: 30px; */
    background-color: yellow;

    /* grid-template-columns: 200px 400px;
    grid-template-rows: 30px 500px 30px;
    grid-template-areas: "hd hd" "side main" "ft ft"; */


    /* grid-template-columns:300px 300px 300px;
    grid-template-rows:100px 400px 100px;

    grid-template-areas:
    "hd hd hd"
    "side main main"
    "ft ft ft"; */
    /* grid-gap: 10px; */
    /* grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto); */
    
    height: 700px;
    width: 600px;
     grid-template-columns: 100px 100px 100px;
     grid-template-rows: 100px 100px;

     /* justify-content: center;
     justify-content: start;
     justify-content: end;
     justify-content: space-between;
     justify-content: space-around;
     justify-content: space-evenly; */

     /* align-items: start;
     align-items: end;
     align-items: baseline;
     align-items: stretch; */
/* 
     align-content: space-between;
     align-content: space-evenly;
     align-content: space-around ; */

     /* short Hand Notation */
/* 
     place-items:center; */

     /* center ke liye */
     /* justify-content: center;
     align-content: center; */
    
     place-content: center;



}

.box {
    border: 1px solid black;
    background-color: aqua;
    /* height: 100px;
    width: 100px; */
   
}
#b1{
    /* justify-self: start;
    justify-self: end;
    justify-self: center; */

    /* align-self: center; */
}

/* #header{
    grid-area: hd;
}

#sidebar{
    grid-area: side;
}
#content{
    grid-area: main;
}

#footer{
    grid-area: ft;
} */