#m1{
    border: 1px solid black;
    margin: 10px;
    min-height: 10px;
}

#m2{
    border: 1px solid black;
    margin: 10px;
    max-height: 50px;
    margin-bottom: 40px;
  
}

#divi{
    border: 1px solid black;
    height: 100px;
    overflow: auto;
}