@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
   background-color: #FEFCE2;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}

.card{
    display: flex;
    background: white;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    overflow: hidden;   /* ⭐ Ye important hai */
}
.fet{
    width: 55%;
}

.mg{
    width: 50%;
}

.mg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.det{
    margin: 20px;
    
}

.det p{
    font-family: "Montserrat", sans-serif;
}

.title{
    margin: 20px;
}
.title h1{
    font-family: "Fraunces", serif;
font-weight: 700;
}

.des{
    margin: 20px;
}

.des p{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: gray;
    line-height: 1.6;
}

.price{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.new-price{
    font-family: "Fraunces", serif;
    font-size: 2rem;
    font-weight: 700;
    color: #35705A;
}

.old-price{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: gray;
    text-decoration: line-through;
}
.but{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.cart-btn{
    width:80%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#35705A;
    color:white;

    font-family:"Montserrat", sans-serif;
    font-size:16px;
    font-weight:700;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;

    cursor:pointer;
    transition:0.3s;
}

.cart-btn:hover{
    background:#1d4f3b;
}